/*******************

# GLOBALLY USED AMONGST GITHUB MANAGEMENT VIEWS

*/

.classportal-info-container {
    width: 95%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

.classportal-info-container span {
    font-weight: 900;
}

.classportal-row-headers-container-theme {
    width: 95%;
    margin: auto;
    margin-top: 35px;
}

.classportal-page-theme ons-row:first-of-type ons-col {
    background-color: rgba(24, 103, 194, .81);
    border: 0;
    color: white;
    border-right: 1px solid;
}

.classportal-page-theme ons-col {
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  padding: 4px;
  color: #999;
}

#classportal-page-theme {
  background-color: #f6f;
  padding: 8px;
}

#classportal-page-theme h3 {
  color: #666;
  padding-left: 10px;
  font-size: 17px;
}




/*******************

# ADMIN PROVISION /admin/repos.html

*/

#adminProvisionReposPage__repo-generation-container {
    width: 95%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

#adminProvisionReposPage__repo-generation-info span {
    font-weight: 900;
}


/*******************

# ADMIN GRADES VIEW /admin/grades.html

*/
#adminGradesView__grade-table {
    width: 100%;
}


/*******************

# ADMIN PROVISION /admin/teams.html

*/

#adminProvisionTeamsPage__team-generation-container {
    width: 95%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

#adminProvisionTeamsPage__team-generation-info span {
    font-weight: 900;
}


/*******************

# ADMIN CLASS LIST PAGE

*/

#adminClassListPage ons-row:first-of-type ons-col {
    background-color: rgba(24, 103, 194, .81);
    border: 0;
    color: white;
    border-right: 1px solid;
}

/*******************

# END: ADMIN CLASS LIST PAGE

*/

.settingIcon {
    min-width: 0;
    padding-right: 10px;
    opacity: 0.8;
}

.settingLabel {
    /*width: 100%;*/
}

.settingRight {
    float: right;
    /*
    margin-top: 6px;
    padding-bottom: 6px;
    */
    /* width: 20em; */
}

.settingSelect {
    height: 30px;
    margin-top: 0;
}

.settingRight ons-input {
    background: lightblue;
}

/***
DASHBOARD
 */

.sortableHeader {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.sortableRow {

}

.sortableCell {
    text-align: center;
    white-space: nowrap;
}

.dashHistoBucket {
    font-weight: bold;
    padding-right: 1em;
}

.dashHistoValue {
    padding-left: 2em;
}

/*****************
 *** Custom CSS ***
 *****************/

ons-input[type=text] {
    width: 90%;
}

ons-button[modifier=large] {
    width: initial;
    margin: 10px;
}

ons-splitter-side[side="left"][animation="overlay"] {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.highlight {
    background-color: lightyellow;
    color: rgba(255, 0, 0, 0.7);
}

.left-label {
    width: 30%;
    font-size: 16px;
    color: #666
}

.addDeliverableView-form-input {
    margin: 0 0 0 15px;
    width: 100%;
}

/********************
 *** Animation CSS ***
 ********************/

#tabbarPage .list {
    background-color: grey;
    overflow-x: hidden;
    margin-top: -1px;
    border-bottom: 1px solid #ccc;
}

#tabbarPage .list-item {
    min-height: 0;
    height: 44px;
    background-color: white;
    margin: 1px 0 -1px 0;
}

#tabbarPage .list-item--material {
    height: 56px;
}

.list-title {
    margin-top: 12px;
}

.hide-children * {
    overflow: hidden;
}

.animation-swipe-right {
    pointer-events: none;
    -webkit-animation: swipe-right .9s ease-in-out forwards;
    animation: swipe-right .9s ease-in-out forwards;
}

.animation-swipe-left {
    pointer-events: none;
    -webkit-animation: swipe-left .9s ease-in-out forwards;
    animation: swipe-left .9s ease-in-out forwards;
}

.animation-remove {
    pointer-events: none;
    -webkit-animation: remove .7s ease-in-out forwards;
    animation: remove .7s ease-in-out forwards;
}

@-webkit-keyframes swipe-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(-3%);
        transform: translateX(-3%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: 0;
        opacity: 0.3;
    }
}

@keyframes swipe-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(-3%);
        transform: translateX(-3%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: 0;
        opacity: 0.3;
    }
}

@-webkit-keyframes swipe-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(3%);
        transform: translateX(3%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        height: 0;
        opacity: 0.3;
    }
}

@keyframes swipe-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(3%);
        transform: translateX(3%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        height: 0;
        opacity: 0.3;
    }
}

@-webkit-keyframes remove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
        height: 0;
    }
}

@keyframes remove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
        height: 0;
    }
}

/********************
 *** Animation CSS ***
 ********************/

